{% extends 'alyan/base.html' %}

{% block content %}


        <div class="col-md-4">
            <div class="box">
                {% include 'alyan/sidebar_links.html' %}
            </div>
        </div>
        <div class="col-md-8 ">
            <div class="box">
                <h4>{{ bicycle.year }} {{ bicycle.brand }} {{ bicycle.model }}</h4>
                <div class="col-md-5">
                    <ul>
                        {% for photo in bicycle.bicyclephoto_set.all %}
                           <li>
                               <img class="medium_photo" src="{{ photo.image.url }}" alt="{{ bicycle.year}} {{ bicycle.brand}} {{ bicycle.model }}" />
                           </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-2">
                    {{ bicycle.owner }}
                </div>

            </div>

        </div>

{% endblock %}